@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  background-color: #18181b;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #52525b;
  border-radius: 40px;
}
body {
  cursor: none; /* Hides the default cursor */
}
@media (min-width: 320px) {
  ::-webkit-scrollbar {
    display: none;
  }
}
